@font-face {
    font-family: aloja;
    src: url(./Aloja_Font/Aloja\ Ligh\ 400.otf);
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #D9D9D9;
}
.menu{
    list-style: none;
    padding: 0px;
    background: #b6b6b0;
    max-width: 1000px;
    margin:auto;
    border-radius: 50px;
    display: flex ;
    flex-direction: row ;
    justify-content:space-evenly ;
    align-items:center;
  
}
.menu li a{
    text-decoration: none;
    color: black;
    padding: 13px;
   
    
}
.menu li {
    border-radius: 20px;
    margin: .5rem;
}

.Home_Barnav:hover{
    background-color: #777574;
}
.Menu_Barnav:hover{
    background-color: #777574;

}
.staff_Barnav:hover{
    background-color: #777574;

}

.carritoImg {
    max-width: 40px;
    max-height: 40px;
}
.loginImg{
  max-width: 35px;
  max-height: 35px;

}


.Home_Barnav,.Menu_Barnav,.staff_Barnav{
    background-color: #D9D9D9;
    border-radius: 15px;
    margin-left: 3rem;
    
    
    

}
.iconos{
 
    flex-grow: 1; 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
   


}   
.carritoImg:hover{
    scale: 1.2;
}
.loginImg:hover{
    scale: 1.2;
    
}


.barnav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10rem;
}
.logogif{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.gif{
    max-width: 32%;
    max-height: 32%;
}
.circulo1{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: black;
    margin-left: 10rem;

}
.circulo2{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: black;
    margin-left: 10rem;
    
}
.circulo3{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: black;
    margin-left: 10rem;
}
.burbujas{
    display: flex;
    flex-direction: row;
}
.burbujas h1{
    font-family: aloja;
  transform: translate(-50%, -50%) rotate(-30deg); 
}