body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
}
.menu{
    list-style: none;
    padding: 0;
    background: #b6b6b0;
    max-width: 1000px;
    margin:auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
  
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    
}
.menu li {
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    margin: .5rem;
}

.Home_Barnav:hover{
    background-color: #777574;
}
.Menu_Barnav:hover{
    background-color: #777574;

}
.staff_Barnav:hover{
    background-color: #777574;

}

.carritoImg {
    max-width: 40%;
}
.loginImg{
    max-width: 40%;
    
}
.Home_Barnav,.Menu_Barnav,.staff_Barnav{
    background-color:#D9D9D9 ;
    border-radius: 20%;

}
.iconos{

    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    border: 1px solid black;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;


}
.liDerecha{
    max-width: 80px;
    
    
}
.barnav{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}